<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
      DO NOT USE the logback-spring.xml variant of this file.
      TestContainers logs at DEBUG level by default & it does not look at logback-spring.xml
      See Articles below
      https://github.com/spring-projects/spring-boot/issues/29603
      https://nickolasfisher.com/blog/How-to-Prevent-DEBUG-Logging-by-Test-Containers-when-Running-Unit-Tests-in-Java
      The recommended logback config from testcontainers is used instead
      https://www.testcontainers.org/supported_docker_environment/logging_config
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>
